
input {
  width: 230px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;

  border: none;
  border-radius: 5px;
  background-color: #ffffff;

  font-family: titillium-web;
  font-size: 16px;
  letter-spacing: 0.18px;
  color: #393939;
}

input:hover,
input:focus {
  object-fit: contain;
  box-shadow: 0 2px 4px 0 rgba(197, 197, 197, 0.5);
}

.no-suggestions {
  color: #888888;
  padding: 0.5rem;
}

.suggestions {
  box-shadow: 0px 2px 4px 0px #c5c5c5;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 144px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(230px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #87221f;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}